/* FUENTES A UTILIZAR */

@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');



* {
    font-family: 'Bai Jamjuree', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*COMUN PARA TODOS*/

/*  */


.nombre-principal{
    padding-left: 3rem;
    text-align: left;
    background-color:  rgba(0, 0, 0, 0.889);
    color: beige;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 20px;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 100;
}

.header-home{
    text-align: center;

}



.nav-botones ul{
    display: flex;
     justify-content: left;
     align-items: center;
    background-color: rgba(0, 0, 0, 0.798);
    z-index: 10;
    height: 70px;
    margin: 0px;
}


input{
    margin-left: 30rem;
    color: #037bf2;
    background-color: rgba(0, 0, 0, 0.51);
    width: 250px;
    height: 40px;

}

h5{
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

h5:hover{
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

.boton-menu1{
    background-color: transparent;
    border: 0;
    justify-content: center;



}

.nav-superior{
    position:fixed;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    z-index: 10;
    flex-direction: column;
    width: 100vw;
}

.nav-botones li{
    display: block;
    position: sticky;
    padding-right: 4.5rem;
    padding-left: 4.5rem;
}




.boton-menu1{
    height: 1rem;
    text-decoration: none;
    list-style: none;
}


.boton-menu12{
    text-decoration: none;
    color: #fff;
    font-size: 15px;

}



.bloques{
justify-content: center;
margin: auto;
background-color: rgb(214, 156, 214);
width: cover;
}


.bloque0{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #037bf2;
    height: 50px;
}
.bloque1{
    display: flex;
    /* position: relative; */
    background-color: #a74c4c;
    height: 700px;
}

.bloque2{
    display: flex;
    background-color: #ffffff;
    height: 600px;

}
.bloque2-1{
display: flex;
justify-content: center;
align-items: center;
background-color: #ffffff;
height: 180px;

}



.top{
    background-color:rgb(255, 255, 255);
    width: 800px;
    height: 100px;
   display: flex;
   gap: 1rem;
   justify-content: center;
}

.top1{
    width: 100px;
    height: 100px;
    /* background-color: #037bf2; */
    /* border: px solid  #000000; */
}

.bloque3{
    background-color: #ffffff;
    height: 500px;
    display: flex;
    gap: 2rem;
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    align-items: center;
    /* padding-top: 3.5rem; */
}

.description1{
    text-align: center;
    color: #ffffff;
    padding: 5px;
    padding-top: 20px;
}

.description1 p{
margin: 0;
text-align: center;
}

.tendencias1{
    width: 200px;
    height: 400px;
    background-color: #292929;
}

.tendencias2{
    width: 200px;
    height: 400px;
    background-color: #292929;
}

.tendencias3{
    width: 200px;
    height: 400px;
    background-color: #292929;
}

.tendencias4{
    width: 200px;
    height: 400px;
    background-color:#292929;
}


.logo{
    width: 40px;
    height: 40px;
}

.lio{
    object-fit: cover;
    width: 100%;
    object-position: top;
    /* width: cover;
    height: cover;
    display: flex; */
}


.CommentHome{
    position: absolute;
    display: flex;
    font-size: 35px;
    justify-content: left;
    align-items: center;
    margin-left: 4rem ;
    padding-left: 1rem;
    color: #ffffff;
    margin-top: 10rem ;
    z-index: 2;

}


.titulo1{

    font-family: 'Bruno Ace', cursive;
     position: absolute;
     justify-content: center;
     /* text-align: left; */
     font-size: 40px;
     /* border: 5px solid rgba(0, 0, 0, 0); */
     background-color: rgba(255, 255, 255, 0.691);
    /* padding-right: 60rem;
    padding-left: 2rem; */
    margin-top: 15rem;
    margin-left: 3rem;

}




.titulo0{
margin: 0;
color: #fff;
}

.trendingbox{
    display: flex;
    justify-content: left;
align-items: center;
    text-align: center;
    background-color: #ffffff;
    height: 80px;
    padding-left: 2rem;
    z-index: 1;
}

.trendingbox h6{
    font-size: 40px;
    margin: 0;
}


.titulo2-1 {
    position: absolute;
    margin-top: -6rem;
}

.bloque2-a{
    position: absolute;
    display: flex;
   width: 300px;
   height: 100px;
   background-color: rgb(0, 0, 0);
   justify-content: center;
   align-items: center;
   margin-left: 2rem ;
   margin-top: 10rem ;
   z-index: 2;
}

.bloque2-ab{
   color: #fff;
   position: absolute;
   display: flex;
   width: 500px;
   height: 100px;
   justify-content: center;
   align-items: center;
   margin-left: 5rem ;
   margin-top: 22rem ;
   z-index: 2;
}



.bloque2-a-marco{
   position: absolute;
   display: flex;
   width: 300px;
   height: 100px;
   background-color: white;
   border:5px solid #fff;
   justify-content: center;
   align-items: center;
   margin-left: 2.5rem ;
   margin-top: 10.5rem ;
   z-index: 1;
}

.bloque1-2{
   position: absolute;
   display: flex;
   width: 300px;
   height: 80px;
   background-color: rgb(255, 255, 255);
   justify-content: left;
   align-items: center;
   margin-left: 62rem ;
   padding-left: 1rem;
   color: #000000;
   margin-top: 10rem ;
   z-index: 2;
}

.bloque1-2marco{
    position: absolute;
    display: flex;
    width: 300px;
    height: 80px;
    background-color: rgb(0, 0, 0);
    justify-content: left;
    align-items: center;
    margin-left: 62.5rem ;
    padding-left: 1rem;
    margin-top: 10.5rem ;
    z-index: 1;
 }

.divbloque1-1{
   position: absolute;
   display: flex;
   width: 300px;
   height: 100px;
   border:5px solid rgb(255, 255, 255);
   justify-content: center;
   align-items: center;
   margin-left: 2.5rem ;
   margin-top: 10.5rem ;
   z-index: 1;
 }



.bloque2-a h6{
    margin: 0px;
    color: #fff;
    font-size: 30px;
}



.fotoTren{
    object-fit: cover;
    width: 100%;
}











/* pagina shop */

aside{
    cursor: pointer;
    margin: 0;
    color:white;
    position: fixed;
    min-height: 73vh;
    width: 20vw;
    top: 10rem;
    display: flex;
    justify-content: space-between;
    z-index: 0;
}

aside ul{
    padding-top: 1rem;
}

aside li{
    padding-block: .5rem;
}

aside a{
font-size: 13px;
}



aside li:hover{
    background-color:rgba(0, 0, 0, 0.783);
    color: rgb(255, 255, 255);
}

.cat{
    font-family: 'Bai Jamjuree', sans-serif;
    cursor: none;
}

.box-aside{
    text-align: center;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.798);
    padding-left: 0;
    width: 50%;
    height: 100%;

    /* border-top-right-radius: 1.5rem;
    border-bottom-right-radius:1.5rem; */

}

ul{
    list-style: none;
}

a:link{text-decoration: none;
}

h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    background-color: rgb(255, 255, 255);
    margin-left: 0;
    border-top-left-radius: 1rem;


}

h5{
    padding-bottom: 3rem;
}

.contenedor-productos{
    display: grid;
    grid-auto-rows: 22rem;
    grid-template-columns:repeat(auto-fill,minmax(10rem,1fr));
    /* grid-template-columns: repeat(4,1fr); */
    max-width:60%;
    padding-top: 3rem;
    padding-bottom: 5rem;
    z-index: 100;
    margin-left: 17rem;
    align-items: center;
    justify-content: center;

}


.imagen-prod{
    padding-left: 0.8rem;
    width:172;
    height: 200px;
    object-fit: cover;
    /* border-radius: 1rem; */
    cursor:zoom-in;
}

.producto-detalles{
    background-color: rgba(0, 0, 0, 0.712);
    color: rgb(255, 255, 255);
    padding: 0.7rem;
    /* border-radius: 1rem; */
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    max-width:200px;
    height:110px;


}

footer{
    display: flex;
    padding-top: 2rem;
    padding-right: 2rem;
    color: #000000;
    font-size: 20px;
    justify-content: right ;
    align-items: center;
    }

.futer{
    display: relative;
}

.app-botones{
    display: absolute;
    position: center;
    background-color: transparent;
    border: 0;
    align-items: center;
    justify-content: center;
    }

.producto-titulo{
    font-size:13px;
    margin: 0;
}

.producto-precio{
    font-size: 15px;
    color: rgb(255, 255, 255);
    margin: 0;
}


/* boton de comprar en shop */
.producto-agregar{
    border: 0;
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 13px;
    cursor: pointer;
    border: 2px solid white;
    transition: background-color .1s, color .2s;
    height: 30px;
    min-width: 120px;
}






.producto-agregar:hover{
    background-color:rgb(238, 176, 31);
    color: rgb(9, 9, 9);
}

.producto-agregar:hover, .btn-content:focus {
    transition: 0.5s;
    -webkit-animation: btn-content 1s;
    animation: btn-content 1s;
    outline: 0.1em solid transparent;
    outline-offset: 0.2em;
    box-shadow: 0 0 0.4em 0 var(--color-background);
  }



  .contenedor-carrito{
    gap: 3rem;
    font-size: 15px;
    cursor: pointer;;
    margin: 0;
    color:white;
    position: fixed;
    min-height:80px;
    width: 500px;
    top: 10rem;
    left: 77rem;
    padding-right: 7rem;
    padding-left: 1rem;
    /* display: flex; */
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: space-between;
    z-index: 0;
    background-color: rgb(29, 29, 29);
}

.contenedor-carritoCerrado{
    gap: 3rem;
    font-size: 15px;
    cursor: pointer;;
    margin: 0;
    color:white;
    position: fixed;
    height:100px;
    width: 500px;
    top: 100rem;
    left: 77rem;
    padding-right: 7rem;
    padding-left: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: space-between;
    z-index: 0;
    background-color: rgb(29, 29, 29);
}

li.switch{
    padding: 0px;
}

.carrito-producto-imagen {
    width: 4rem;
    border-radius: .5rem;
}

.pictureCart{
    position: absolute;
    left: 220px
}

.contenedor-carrito h2 {
    font-size: 20px;
    margin: 0px;
}

.contenedor-carrito h1 {
    font-size: 25px;
    margin: 5px;
    padding-bottom: 1rem;

}
.contenedor-carrito p{
    margin: 0px;
   
}

section {
    box-shadow: -6px -2px 25px -13px rgba(0, 0, 0, 0.15);
    width: 340px;
    height: cover;
    top: 0;
    right: 0;
    padding: 30px;
    transition: all 0.2s;
    
  }



.carrito-acciones{
    width: cover;
    height: 100px;
    background-color: #037bf2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left:2rem ;
}

div.productoCarrito{
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: .5rem;
    padding-top: .5rem;
}


.ocultar {
    display: none;
  }

.oscuro{
    background-color: #292929;
}